.category {
    height: 360px;
    width: 291px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
}
.category img {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    /* padding: 0px 10px; */
}
.category a {
    text-decoration: none;
    color: rgba(35, 35, 35);
}
.category h2,

.category p {
    padding: 5px;
    margin-left: 15px;
}
.category p {
    font-size: 10px;
    font-weight: bold;
    color: rgb(9, 132, 209);
}

.Category__container {
    position: relative;
    margin-top: -150px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 0 15px;
    /* margin: 0 15px; */
}